Package: guifi-proxy3
Version: 0.0.1-1
Architecture: all
Maintainer: Pere Casas Puig <pcasas.pere@gmail.com>
Installed-Size: 268
Pre-Depends: squid3, sarg, wget, coreutils
Section: web
Priority: optional
Description: Guifi.net Proxy federation system
 This package is based on guifi-proxy_0.0.2 package created by the Developer & maintainer Carles Guadall Blancafort <carles@viladelpingui.net>.
